## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
2401

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s.split()

In [ ]:
['Hi', 'there', 'dad!']

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

In [ ]:
The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
'hello'

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

In [ ]:
'hello'

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]

In [ ]:
domainGet('user@domain.com')

In [ ]:
'domain.com'

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    return 'dog' in st.lower().split()

In [ ]:
findDog('Is there a dog here?')

In [ ]:
True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

In [ ]:
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
'Big Ticket'

'Big Ticket'

In [ ]:
'Small Ticket'

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
class Employee:
        count=0
        def __init__(self, salary1,salary2,salary3,salary4,salary5):
            self.salary1=salary1
            self.salary2=salary2
            self.salary3=salary3
            self.salary4=salary4
            self.salary5=salary5
            Employee.count+=1
        def displayCount(self):
            print("There are %d employees" % Employee.count)
        def displayDetails(self):
            print("salary1:", self.salary1, ", salary2:", self.salary2, ", Salary3:", self.salary3,"salary4:", self.salary4,"salary5:", self.salary5,)
            e1=Employee(10000,30000,40000,20000,50000)
e2=Employee(10000,80000,40000,70000,60000)
e3=Employee(90000,30000,80000,20000,50000)
e4=Employee(10000,40000,80000,20000,90000)
e5=Employee(40000,10000,20000,30000,50000)
e5.displayCount()
print("Details of all employee:")
e1.displayDetails()
e2.displayDetails()
e3.displayDetails()
e4.displayDetails()
e4.displayDetails()
for x in e1:
  print(x)
  for x in e2:
    print(x)
    for x in e3:
      print(x)
      for x in e4:
        print(x)
        for x in e5:
          print(x)
          qty = int(input("Enter the Total Employee:"))
total=e1+e2+e3+e4+e5
 
print(Total salary expenditure is:",total)

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
 


dict1 = {"Empid","Empname","Basicpay"}
dict2 = {"DeptName","DeptId"}
 
print(Merge(dict1, dict2))
 
print(dict2)

In [ ]:
None
{"Empid","Empname","Basicpay","DeptName","DeptId"}